.wave-content {
	position: absolute !important;
	width: 100% !important;
}

.blips-container {
	/*margin-left: 12px !important;*/
	border-radius: 0 !important;
	box-shadow: none !important;
	/*margin-top: 0 !important;*/
	margin-left: -36px !important;
	margin-right: -5px !important;
}
	/* Root-level blips-container */
	.container-blip-editor > * > .blip-thread > .blips-container {
		margin-left: 0 !important;
		margin-right: 0 !important;
	}
.blip-container {
	box-sizing: border-box;
	
	border: 0 none transparent !important;
	border-left: 1px solid transparent !important;
	
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2), 0 0 1px 0 rgba(0, 0, 0, 0.1) !important;
	padding: 10px 0 8px 0 !important;
}
	.blip-container:first-child {
		 border-top-left-radius: 2px !important;
		border-top-right-radius: 2px !important;
	}
	.blip-container:not(:first-child) {
		border-top: 1px solid #ddd !important;
		padding-top: 9px !important;
	}
	.blip-container:last-child {
		 border-bottom-left-radius: 2px !important;
		border-bottom-right-radius: 2px !important;
	}
	.blip-container.non-editable {
		background-color: #f5f5f5 !important;
	}
	.blip-container.active:not(.edit-mode) {
		/*border-color: #C0C0C0 !important;*/
		border-left-color: #4ea0f1 !important;
	}
.root-blip.with-reserved-menu-space {
	border-top-color: transparent !important;
	/*padding-top: 30px !important;*/
	padding-top: 25px !important;
}
.root-blip.blip-container,
.root-blip ~ .blip-container {
	border-radius: 0 !important;
}
/* The last blip in the root thread */
.root-blip:only-child,
.root-blip ~ :last-child {
	 border-bottom-left-radius: 2px !important;
	border-bottom-right-radius: 2px !important;
	box-shadow: none !important;
}

.blip-container.active.edit-mode {
	border-color: #4ea0f1 !important;
}
.blip-container:not(:first-child).active.edit-mode,
.blip-container:not(:first-child).last-active.edit-mode {
	margin-top: 0 !important;
}

.container-blip,
.container-blip.blip-container {
	border: none !important;
	border-radius: 0 !important;
	padding-top: 0 !important;
}
.editor-container {
	margin-left: 34px !important;
}
.wave-blips > .blip-container > .editor-container {
	/*margin-left: -24px !important;*/
	margin-left: 0 !important;
}

.blip-info {
	float: left !important;
	margin-top: 0 !important;
}
.blip-info .edit-date {
	position: static !important;
	right: auto !important;
}

.contributors {
	right: auto !important;
	left: -5px !important;
}
.contributors .contributor {
	float: left !important;
}

.inner-wave-container,
.topic-mindmap-container,
/* The space after the last blip in the root thread */
.last-root-blip-menu-cap {
	background: white !important;
}

/* The green bar to the left of unread blips. */
.unread-indicator {
	left: -35px !important;
    top: -10px !important;
    bottom: -9px !important;
    width: 4px !important;
       border-top-left-radius: 2px !important;
    border-bottom-left-radius: 2px !important;
}
